@font-face {
  font-family: "Noto Armenian Regular";
	src: url('../fonts/NotoSansArmenian-Regular.ttf');
}
@font-face {
  font-family: "Noto Armenian Medium";
	src: url('../fonts/NotoSansArmenian-Medium.ttf');
}
@font-face {
  font-family: "Noto Armenian ExtraBold";
	src: url('../fonts/NotoSansArmenian-ExtraBold.ttf');
}
@font-face {
	font-family: "Open Sans Regular";
	src: url('../fonts/OpenSans-Regular.ttf')
}